<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="inoGen.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <inoGen.My.MySettings>
            <setting name="DBPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastFID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastVKHID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastContent" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="LastKJ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPlace" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVKHIDÜbergabe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastGenPrintout" serializeAs="String">
                <value>Gen4</value>
            </setting>
            <setting name="LastGenPapersize" serializeAs="String">
                <value>DIN1</value>
            </setting>
            <setting name="LastGenColortype" serializeAs="String">
                <value>ohne</value>
            </setting>
            <setting name="Gen71" serializeAs="String">
                <value />
            </setting>
            <setting name="Gen72" serializeAs="String">
                <value />
            </setting>
            <setting name="Gen73" serializeAs="String">
                <value />
            </setting>
            <setting name="Gen74S" serializeAs="String">
                <value />
            </setting>
            <setting name="Gen74E" serializeAs="String">
                <value />
            </setting>
            <setting name="Gen75S" serializeAs="String">
                <value />
            </setting>
            <setting name="Gen75E" serializeAs="String">
                <value />
            </setting>
            <setting name="Gen76S" serializeAs="String">
                <value />
            </setting>
            <setting name="Gen76E" serializeAs="String">
                <value />
            </setting>
            <setting name="Gen77S" serializeAs="String">
                <value />
            </setting>
            <setting name="Gen77E" serializeAs="String">
                <value />
            </setting>
            <setting name="QZQuelle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QZEreignis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QZJahr" serializeAs="String">
                <value />
            </setting>
            <setting name="QZBd" serializeAs="String">
                <value />
            </setting>
            <setting name="QZNummer" serializeAs="String">
                <value />
            </setting>
            <setting name="QZSeite" serializeAs="String">
                <value />
            </setting>
            <setting name="LastQuellZitat" serializeAs="String">
                <value>0</value>
            </setting>
        </inoGen.My.MySettings>
    </userSettings>
</configuration>
