<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="inoGen.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <inoGen.My.MySettings>
            <setting name="DBPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastFID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastVKHID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastContent" serializeAs="String">
                <value />
            </setting>
        </inoGen.My.MySettings>
    </userSettings>
</configuration>
